body {

    /*background:papayaWhip*/
    background: lavender;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
}

div.side-by-side {
    display: flex;
}

.gallery{
    display: flex; background:blue;
    flex-wrap: wrap;
    gap: 20px;
}

figure{
    background:green;
}

figcaption{
    color:pink;
}

img {
    width: 100%;
    max-width: 500px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}