header{
    width: 100vw;
    font-family: Zapf-Chancery, cursive;
}


body {

    /*background:Navyblue*/
    background: grey;
    font-family: Comic-sans, Papyrus, Helvetica, sans-serif;
}

div.side-by-side {
    display: flex;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

figcaption{
    color:pink;
}

img {
    width: 50vw;
    max-width: 500px;
}

.featureBlock {
    background-color:white;
    font-size: smaller;
}